anyio==4.13.0
argcomplete==3.6.3
asgiref==3.11.1
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.3
crypt_r==3.13.1
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
distro==1.9.0
dj-database-url==3.1.2
Django==6.0.6
et_xmlfile==2.0.0
file-magic==0.4.0
gunicorn==26.0.0
h11==0.16.0
html2text==2025.4.15
httpcore==1.0.9
httpx==0.28.1
idna==3.18
iso639==0.1.4
olefile==0.47
openpyxl==3.1.5
packaging==25.0
pexpect==4.9.0
pid==3.0.4
pillow==12.3.0
psutil==7.2.2
psycopg2-binary==2.9.12
ptyprocess==0.7.0
PyAudio==0.2.13
pycparser==2.22
PyGObject==3.56.3
pyinotify==0.9.6
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pyxdg==0.28
PyYAML==6.0.3
qrcode==8.2
RapidFuzz==3.14.3
regex==2026.5.9
requests==2.33.1
requests-file==3.0.0
requests-ftp==0.3.1
setools==4.6.0
six==1.17.0
sqlparse==0.5.5
urllib3==2.7.0
whitenoise==6.12.0